body{
    font-family:'Roboto', sans-serif;
    color:#434455;
    background-color:#FFFFFF;
    max-width: 1440px;
     }
   ul{list-style-type: none;
      margin: 0;
      padding: 0;
    }
   a{text-decoration: none;}
p, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}
button {cursor: pointer;}
.container{
    width: 100%;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
/*======Header=========*/
.header {padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
}
.header-container{
    display: flex;
    align-items: center;


}
.header-navigation{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-grow: 1;
}
.header-logo{
    color:#4d5ae5;
    font-family:'Raleway', sans-serif;
    font-size: 18px;
    font-style:normal;
    font-weight:700;
    line-height:1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}
.header-logo-part{color:#2e2f42;}
.header-list{color:#2E2F42;
    list-style-type: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
}
.header-list-link{color:#2E2F42;
    list-style-type: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
padding: 24px 0px;}
    .header-list-link:hover,
.header-list-link:focus{color:#404bbf;}
address{font-style: normal} 
.header-list-item:hover,
.header-list-item:focus{color:#404bbf;}
.header-address{font-style:normal;}
.header-address-list{
    font-style:normal;
    color:#434455;
    font-size:16px;
    font-style:normal;
    font-weight:400;
    line-height:1.5; /* 150% */
    letter-spacing: 0.02em;
    display: flex;
    gap: 40px;
    margin-left: 0 auto;
}
    .header-address-list:hover,
    .header-address-list:focus{color:#404bbf}
    .header-address-list-item-link{color:#434455;
        font-style:normal;
        font-size:16px;
        font-style:normal;
        font-weight:400;
        line-height:1.5; /* 150% */
        letter-spacing:0.02em;}
    .header-address-list-item-link:hover,
    .header-address-list-item-link:focus{color:#404bbf}

        /*=========================================================*/
        .main{
        }
        .button{background-color:#2E2F42;
            color:#FFF;
            padding: 188px 0px;
        }
        .main-title{
            text-align:center;
            font-size:56px;
            line-height:1.07; /* 107.143% */
            letter-spacing:0.02em;
            max-width: 496px;
            max-height: 120px;
            border:none;
            margin-left: 316px;
            margin-right: 316px;
            
            
        }
        .main-button {
            background-color:#4D5AE5;
            color:#ffffff;
            font-family:"Roboto", sans-serif;
            cursor:pointer;
            font-size:16px;
            font-style:normal;
            font-weight:500;
            line-height:1.5; /* 150% */
            letter-spacing:0.04em;
            margin-left: 164px;
            padding: 16px 32px;
            border-radius: 4px;
            border: none;
            display: block;
            min-width: 169px;
            margin-top:48px;
            margin-left: 447px;
            margin-right: 447px;
        }
        .main-button:hover,
        .main-button:focus{background-color: #404BBF}
        /*=========Advantages===================*/
        .advantages-title{
            color: #2E2F42;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.2; /* 120% */
            letter-spacing: 0.02em;
            margin-bottom: 8px;
            text-align: start;
         }
        .advantages {
            padding: 120px 0px;
        }
        .visually-hidden {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
        }
        .advantages-list {
            display: flex;
            gap: 24px;
        }
        .advantages-list-item {
            width:calc((100% - 72px) / 4);
        }
        .advantages-list-item-text{
            color:#434455;
            font-size: 16px;
            font-style: normal;
            line-height: 1.5; /* 150% */
            letter-spacing: 0.02em;
            text-align: start;
        } 
/*================Team=========================*/
.team{background:#F4F4FD;
    padding: 120px 0px;
}
.team-title{
    color:#2E2F42;
    text-transform:capitalize;
    text-align:center;
    font-size:36px;
    font-style:normal;
    line-height:1.11; /* 111.111% */
    letter-spacing:0.02em;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
    
}
.team-list-item {
    background-color: #FFFFFF;
    width:calc((100% - 72px) / 4); 
    border-radius: 0px 0px 4px 4px;
}
.container-name{
    padding: 32px 0px;
    
}
.advantages-title-team{
    text-align: center;
}
.team-list-item-text {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5; /* 150% */
    letter-spacing:0.02em;
    margin: 0px auto;
    text-align: center;
}
/*====================Portfolio==============*/
.portfolio {

    background: #FFF;
    padding: 120px 0px 120px 0px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-list-item {width:calc((100% - 48px) / 3);
}
.container-app{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-link {
}
.portfolio-list-item-text {color: #434455;
    font-size:16px;
    line-height:1.5; /* 150% */
    letter-spacing: 0.02em;
    padding-bottom: 32px;
    margin: 0px auto;
}
/*=============Footer================*/
.footer{background: #2E2F42;
    color: #F4F4FD;
    padding: 100px 0px;
}
.footer-logo-part{color:#f4f4fd;}
.footer-text{
    font-size:16px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    width: 264px;
    height: 72px;
}
.footer-logo{
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 0px;
}
    